main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dice {
    width: 5rem;
    height: 5rem;
    background: white;
}
.dice-1 {
    width: 5rem;
    height: 5rem;
    background: white;
}
.dice-2 {
    width: 5rem;
    height: 5rem;
    background: white;
}