body {
    padding: 0;
    margin: 0;
}
main {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-around;
}
.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-wrap {
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, minmax(5rem, 16%));
    grid-template-rows: repeat(4, repeat(minmax(5rem, 8rem)));
    gap: calc(10px + 1%); 
}
.top-container button {
    background-color: rgb(11, 11, 165);
    border: .3rem solid rgb(0, 0, 97);
    color: whitesmoke;
    padding: .7rem;
    margin: .5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: .4rem;
}

aside {
    position: relative;
    height: auto;
    background-color: rgb(0, 241, 241);
    border: .5rem solid navy;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 17px;
    cursor: pointer;
}
    aside::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center center;
    }
    aside::after {
        content: '?';
        font-size: 5rem;
    }